<div layout="row" layout-padding layout-align="start center" class="content-filters">
 <md-input-container flex="20" ng-show="!SearchInput.appear">
    <label>Filter by Currency</label>
    <md-select ng-model="selectedCurrencyFilter"
               ng-change="selectedCurrencyFilterChanged(selectedCurrencyFilter)"
               md-on-close="clearSearchCurrencyTerm()"
               md-on-open="stopKeyDownPropagation()"
               data-md-container-class="selectCurrenciesSelectHeader"
               multiple>
      <md-select-header class="demo-select-header">
        <input ng-model="searchCurrencyTerm.term"
               type="search"
               placeholder="Search for currencies..."
               class="demo-header-searchbox md-text">
      </md-select-header>
      <md-optgroup label="Currencyfilters">
        <md-option ng-value="filter" ng-repeat="filter in Currencyfilters | filter:searchCurrencyTerm.term ">{{filter}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>
  <md-input-container flex="20" ng-show="!SearchInput.appear">
      <label>Sort By Population</label>
      <md-select ng-model="selectedPopulationFilter" ng-change="selectedPopulationFilterChanged(selectedPopulationFilter)">
          <md-option ng-value="filter | spacesToDashes" ng-repeat="filter in Populationfilters" value="{{filter}}">{{filter}}</md-option>
      </md-select>
  </md-input-container>
  <md-input-container flex="20" ng-show="!SearchInput.appear">
      <label>Sort By Area</label>
      <md-select ng-model="selectedAreaFilter" ng-change="selectedAreaFilterChanged(selectedAreaFilter)">
          <md-option ng-value="filter | spacesToDashes" ng-repeat="filter in Areafilters" value="{{filter}}">{{filter}}</md-option>
      </md-select>
  </md-input-container>
  <md-input-container class="search-input-field-container" ng-show="SearchInput.appear">
    <input ng-keyup="selectedSearchInputTerm(inputSearchTerm)" ng-model="inputSearchTerm" type="text" placeholder="Search for Country or Capital">
  </md-input-container>
  <md-input-container class="search-input-icon-container">
    <md-icon md-svg-src="/images/svg-icons/ic_clear_black_24px.svg" ng-show="SearchInput.appear" ng-click="toggleSearch()"></md-icon>
    <md-icon md-svg-src="/images/svg-icons/ic_search_black_24px.svg" ng-show="!SearchInput.appear" ng-click="toggleSearch()"></md-icon>
  </md-input-container>
</div>

