<div layout="row" layout-padding layout-align="start center" class="content-filters">
  <md-input-container flex="20">
      <label>Filter By Currency</label>
      <md-select ng-model="selectedCurrencyFilter" ng-change="selectedCurrencyFilterChanged(selectedCurrencyFilter)">
          <md-option ng-value="filter" ng-repeat="filter in Areafilters" value="{{filter}}">{{filter}}</md-option>
      </md-select>
  </md-input-container>
  <md-input-container flex="20">
      <label>Sort By Population</label>
      <md-select ng-model="selectedPopulationFilter" ng-change="selectedPopulationFilterChanged(selectedPopulationFilter)">
          <md-option ng-value="filter | spacesToDashes" ng-repeat="filter in Populationfilters" value="{{filter}}">{{filter}}</md-option>
      </md-select>
  </md-input-container>
</div>
