<div class="angular-logo" flex>
  <md-button ng-click="toggleSideBar()" class="md-icon-button mobile-menu" hide-gt-xs>
    <md-icon md-svg-src="/images/svg-icons/ic_menu_white_24px.svg" aria-label="Toggle Menu" class="md-icon-toggle-menu"></md-icon>
  </md-button>
  <md-icon md-svg-src="/images/angular-logo.svg" aria-label="Angular Logo" class="md-icon-angular-logo" hide-xs></md-icon>
  <h4>ngCountries</h4>
</div>
<div class="preview-on-github" flex>
  <a href="https://github.com/vchouliaras/angular-countries" target="_blank">
    <md-icon md-svg-src="/images/github-logo.svg" aria-label="Github Logo" class="md-icon-github-logo"></md-icon>
  </a>
</div>
